<p>Olá,</p>

<p>A importação de seus contatos falhou. Parece que o arquivo CSV que você enviou pode não ser válido. Solicitamos gentilmente que você revise o arquivo e assegure-se de que ele está em conformidade com o formato requerido.</p>